{% extends 'portfolio/base.html' %}
{% block content %}


<div class="about-section">
  <h1>About Us Page</h1>
  <p>Add some data.</p>
  <p>Add some data.</p>
</div>

{% load static %}
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static '/portfolio/Aditya_Penmetsa.jpeg' %}" alt="Aditya" style="width:50%">
      <div class="container">
        <h2>Aditya</h2>
        <p class="title">CEO & Founder</p>
        <p>Front End developer</p>
        <p>aditya.penmetsa9@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static '/portfolio/Sarath_Reddy.jpg' %}" alt="Sarath" style="width:50%">
      <div class="container">
        <h2>Sarath Reddy</h2>
        <p class="title">Web Developer</p>
        <p>Back End developer.</p>
        <p>nsharathkumar007@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static '/portfolio/RamKiran_Boga.jpeg' %}" alt="Ram" style="width:40%">
      <div class="container">
        <h2>Ram Kiran</h2>
        <p class="title">Data Engineer</p>
        <p>Collects and Sorts Data.</p>
        <p>ramkiran0044@gmail.com</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
